@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

:root {
  --invert-color: invert(0);

  --background: 0, 0%, 96%;
  --foreground: 0, 0%, 10%;
  --accent: 0, 0%, 84%;
}

.dark {
  --invert-color: invert(1);
  --background: 0, 0%, 6%;
  --foreground: 0, 0%, 60%;
  --accent: 0, 0%, 18%;
}

.inverted-logo {
  filter: var(--invert-color);
}

.disable-tap-highlight:active {
  -webkit-tap-highlight-color: transparent;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: hsla(0,0%,0%, .8) !important; /* Replace with your desired color */
}

