@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --invert-color: invert(0);
  --background: 0, 0%, 90%;
}

.dark {
  --invert-color: invert(1);
  --background: 0, 0%, 0%;
}

.inverted-logo {
  filter: var(--invert-color);
}
